<form ngNoForm>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Ingrese el nombre" #nombre [(ngModel)]="nombreServidorForma3">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Ingrese el estado" #estado [(ngModel)]="estadoServidorForma3">
  </div>
  <div class="form-group">
      <input type="text" class="form-control" placeholder="Ingrese el descripción" #descripcion [(ngModel)]="descripcionServidorForma3">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Ingrese el área" #area [(ngModel)]="areaServidorForma3">
    </div>
    <div class="form-group">
      <button class="btn btn-success" type="button" (click)="agregarServidor1(nombre.value, estado.value, descripcion.value, area.value)">Ingresar (1era forma)</button>
      <button class="btn btn-success" type="button" (click)="agregarServidor2()">Ingresar (2da forma)</button>
      <button class="btn btn-success" type="button" (click)="agregarServidor3()">Ingresar (3ra forma) Funciona</button>
    </div>
</form>
